<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sarvika Employee Directory</title>

  </head>
  <body>
		<h1>Sarvika Employee Directory</h1>
		<ul>
			{{#each employees}}
			<li> {{text}} </li>
			{{/each}}
		</ul>
  </body>
</html>
